:root {

--color-primary: #860c1c;
--color-primary-dark: #001011;

--color-secondary: #e21d1d;
--color-secondary-dark: #d61616;

--color-gray-light: #aa0c0c; 
--color-gray: #9e0d0d;
--color-gray-dark: #3f0e0e;





}