:root {

--color-primary: #093a3e;
--color-primary-dark: #001011;

--color-secondary: #64e9ee;
--color-secondary-dark: #3aafb9;

--color-gray-light: #110404; 
--color-gray: #130a0a;
--color-gray-dark: #333;





}