:root {

--color-primary: #260c86;
--color-primary-dark: #001011;

--color-secondary: #831de2;
--color-secondary-dark: #3316d6;

--color-gray-light: #630caa; 
--color-gray: #580d9e;
--color-gray-dark: #250e3f;





}