.color1{
    color: blueviolet;
}
.color2{
    color: blueviolet;
}
.color3{
    color: blueviolet;
}

.color0{
    color: gold;
}
.resaltado4{
    background-color: rgb(84, 165, 3);
    color: white;
}
.resalta4{
    background-color: rgb(102, 102, 223);
    color: whitesmoke;
}
