header{
    background-color: aliceblue;
    padding: 35px;
    color: crimson;
    border: solid gray;
}
.p1{
    color: crimson;
}
.ps1{
    background-color: crimson;
    color: aliceblue;
}
.pr1{
color: grey;
}
.bh{
    color: darkred;
}
.sh
{
    font-family: monospace;
    font-weight: 400;
}
   .pr2{
    background-color: rgb(240, 236, 236);
    color: grey;
   }
  .red1{
    color: crimson;
  }
 .foot{
    color: grey;
    background-color: white;
 }