body{
    color: seagreen;
    background-color: silver;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    text-align: right;
    margin-top: 100px;
    margin-right: 100px;
    text-decoration:none ;
}
h2{
    text-align: right;
    margin-top: 100px;
    margin-right: 100px;
    
}
img{
    margin-top: 250px;
    margin-left: 100px;
}
.link-trabajo{
    text-decoration: none;
}

.link-h3{
    text-decoration: none;
    
}
.tit{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 70px;
}
p{
    text-align: center;
}
table{
    margin-top: 55px;
    margin-left: 750px;
}
.contact{
    text-align: right;
    
    margin-right: 110px;
}

button{
    margin-left: 1100px;
}
.label{
    margin-top: -100px;
}