
img{
    margin-left: 600px;
    margin-top: 250px;
    
}
body{
    background-color: rgb(103, 132, 161);
}

.Buda:hover{
    perspective: -300px;
    perspective-origin: center;
    transform: rotate3d(1, 1, 1, 45deg);
}