.monster{
    align-items: center;
    padding: 5rem;
    border-style: solid; border-top-width: 15px; border-right-width: 15px; border-bottom-width: 15px; border-left-width: 15px;
    border-color: burlywood;
    border-right-style: dashed;
    border-left-style: dashed;
}