.w1{
    background-color: green;
}
.j1{
    margin: 0.5rem 0.5rem;
    font-size: 2rem;
}
.f3{
    margin: 0.3rem 0.3rem;
    font-size: 1rem;
}
.f1{
    margin: 0.2rem 0.2rem;
    font-size: 1.5rem;
}
.g1{
font-size: 0.8rem;
}
.g2{
font-size: 0.6rem;
} 
.q1{
    font-size: 0.2rem;
}